# -----------------------------
# Global Python ignores
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/

# Packaging / build
build/
dist/
*.egg-info/
.eggs/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.cache

# Mypy
.mypy_cache/

# Tox
.tox/

# Hypothesis
.hypothesis/
